<!-- Template for the list of cars (sorted by reporting marks.
     This HTML page notifies the server when the user changes the
	 location of a car. -->
<HTML>
<HEAD>
<TITLE>Location of Cars on Layout</TITLE>
<script type="text/javascript">
function carLocationChanged(object, carName) {
  var chosenOption = object.options[object.selectedIndex];
  var params = "layout=";
  // layoutName appended in separate script into HTML.
  params += layoutName;
  params +="&car=";
  params += encodeURIComponent(carName);
  params += "&location=";
  params += chosenOption.text;
  var http = new XMLHttpRequest();
  http.open("GET","setCarLocation" + "?" + params, true);
  http.onreadystatechange = function() {
    if (http.readyState == 4 && http.status == 200 && http.responseText != "OK") {
      alert(http.responseText);
    }
  }
  http.send(null);
}

function setCarLocations(carDictionary) {
  var carKey;
  for (carKey in carDictionary) {
    var carLoc = carDictionary[carKey];
	var carIndustryId = carKey + "-" + carLoc;
	var optionForCar = document.getElementById(carIndustryId);
	if (optionForCar) {
      optionForCar.selected = true;
	} else {
	  // Ignore.
    }
  }
}
</script>
</HEAD>
<script type='text/javascript'>
var layoutName='{{ layout.layoutName }}';
var carDictionary={ {{carLocations}} };
</script>
<BODY onload="setCarLocations(carDictionary);">
Cars currently active in layout {{ layout.layoutName }}:
<TABLE id="foo">
  <th>Reporting Marks</th>
  <th>Car Type</th>
  <th>Location</th>
{% for car in freightCars %}
  <tr>
    <td>{{ car.reportingMarks }}</td>
	<td>{{ car.carType }}</td>
	<TD><select id="{{car.reportingMarks}}" onchange="javascript:carLocationChanged(this, '{{car.reportingMarks}}');">
    {% for industry in layout.allIndustries %}  <option value="{{ industry.name }}" id='{{car.reportingMarks}}-{{industry.name}}'>{{ industry.name }} </option>    {% /for %}
	{% for yard in layout.allYards %} <option value="{{ yard.name }}" id='{{car.reportingMarks}}-{{yard.name}}'>{{ yard.name }}</option> {% /for %}
	  <option value="Workbench" id='{{car.reportingMarks}}-Workbench'>Workbench</option>
    </select></td>
  </tr>
  {% /for %}
</table>
</BODY></HTML>
