<HTML>
<HEAD>
<TITLE>Current Car Locations</TITLE>
<!-- Sans-serif font for titles. -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<!-- Handwritten block letters font -->
<link href='http://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet' type='text/css'>
<LINK REL=StyleSheet HREF="builtin-switchlist.css" TYPE="text/css" MEDIA=screen>
</HEAD>
<BODY>
<div class="industry-title">
{{ layout.layoutName }}
<br>
CAR LOCATIONS WORKSHEET
</div>
<div class="industry-list">
{% for station in layout.allStationsSortedOrder %}
  <div class="industry-station">
    <div class="industry-station-name">
	  {{station.name}}
	  <br>
	  {% if station.isStaging %} staging {% /if %}{% if station.isOffline %} offline {% /if %}
	</div>
    <div class="industry-station-industries">
      {% for industry in station.allIndustriesSortedOrder %}
        <div class="industry-station-industry">
          <div class="industry-industry-name">
           {{ industry.name }}
          </div>
          <div class="industry-industry-cars">
          {% for car in industry.allFreightCarsSortedOrder %}
              {{ car.reportingMarks }} ({{car.carType}})<br>
		  {% /for %}
		  </div>
        </div>
      {% /for %}
     </div>
  </div>
{% /for %}
</div>
</body>
</html>
