<HTML>
<HEAD>
<link href='switchlist-iphone.css' rel='stylesheet' type='text/css' media='screen'/>
<TITLE>{{ train.name }}</TITLE>
</HEAD>
<BODY>
<div class="switchlist">
{% for car in train.freightCars %}
  <div class="switchlist-car">
    <div class="car-reporting">{{ car.reportingMarks }}</div>
    <div class="car-rows">
      <div class="car-upperRow">
	{{ car.currentLocation.name }} / {{car.currentLocation.location.name }}
      </div>
      <div class="car-lowerRow">
        {{ car.nextStop.name }} / {{ car.nextStop.location.name }}
      </div>
    </div>
  </div>
{% /for %}
</div>
</div>
</body>
</HTML>
	
