<!-- Main landing page for SwitchList. -->
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"/>
	<link href="http://fonts.googleapis.com/css?family=Rock Salt" rel="stylesheet" type="text/css"/>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	<link href="layout.css" rel="stylesheet"/>
	<!-- <link href="layout-iphone.css" rel="stylesheet" media="(max-device-width: 480px)"/> -->
	<!-- <link href="layout-ipad.css" rel="stylesheet" media="(min-device-width: 481px) and (max-device-width: 1024px)"/> -->
	<title>SwitchList Home</title>
</head>
<body>
<div class="report-title">SwitchList Home</div>

<h1 class="report-layouts">Layouts</h1>
<ul>
{% for layoutName in layoutNames %}
  <li class="report-list"> <A HREF="layout?layout={{layoutName}}">{{layoutName}}</A>
{% /for %}
</ul>
</BODY>
</HTML>