<!-- Full template for the main SwitchList page for a particular layout. -->
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"/>
	<link href="http://fonts.googleapis.com/css?family=Rock Salt" rel="stylesheet" type="text/css"/>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	<link href="layout.css" rel="stylesheet"/>
	<!-- <link href="layout-iphone.css" rel="stylesheet" media="(max-device-width: 480px)"/> -->
	<!-- <link href="layout-ipad.css" rel="stylesheet" media="(min-device-width: 481px) and (max-device-width: 1024px)"/> -->
<title>{{layout.layoutName}} Layout New</title>
</head>
<body>
<div class="report-layout-title">{{ layout.layoutName }}</div>
<div class="report-title">Main Page</div>
<h1 class="report-layouts">Trains and Switchlists</h1>
<ul>
{% for train in layout.allTrains %}
<li class="report-list"><A HREF="switchlist?layout={{layout.layoutName}}&train={{train.name}}">{{train.name}}</A></li>
{% /for %}
</ul>

<h1 class="report-layouts">Reports</h1>
<ul>
<li class="report-list"><A HREF="carList?layout={{layout.layoutName}}">Reposition Freight Cars</a>
<li class="report-list"><A HREF="industryList?layout={{layout.layoutName}}">Industry Car Report</a>
<li class="report-list"><A HREF="yardReport?layout={{layout.layoutName}}">Yard Report</a>
<li class="report-list"><A HREF="reservedCarReport?layout={{layout.layoutName}}">Reserved Car Report</a>
</ul>
</body>
</html>
