<HTML>
<HEAD>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet' type='text/css'>
<link href='switchlist-iphone.css' rel='stylesheet' type='text/css' media='only screen and (max-device-width: 480px)'/>
<link href='switchlist-ipad.css' rel='stylesheet' type='text/css' media='only screen and (min-device-width: 481px) and (max-device-width: 1024px)'/>
<link href='switchlist.css' rel='stylesheet' type='text/css' media='all and (min-device-width: 1025px)'>
<TITLE>Switch List for {{ train.name }}</TITLE>
</HEAD>
<BODY>
  <div class="train-name">{{ train.name }}</div>
  <div class="switch-list-layout-title">{{ layout.layoutName }}</div>
  <div class="switch-list-title">SWITCH LIST</div>
  <div class="switch-list-instructions">
    <span class="switch-list-instructions-filled-in">
      <u>{{ train.name }}</u>
    </span>
    AT
    <span class="switch-list-instructions-filled-in">
      <u>{{ firstStation }}</u>
    </span>
    STATION,
    <span class="switch-list-instructions-filled-in">
      <u>{{ layout.currentDate | date_format: "MMM dd"}}</u>
    </span>
    19<span class="switch-list-instructions-filled-in"><u>{{ layout.currentDate | date_format: "YY"}}</u>
    </span>
  </div>
  <p>
  <center>
  <TABLE class="switch-list">
    <TR class="switch-list-header">
      {% if interactive %}<TH>Done</TH>{% /if %}
      <TH>Car No.</TH>
      <TH>Car Type</TH>
      <TH>From</TH>
      <TH>To</TH>
    </TR>
    {% for car in train.allFreightCarsInVisitOrder %}
      <TR>
        {%if interactive %}<TD><INPUT TYPE=CHECKBOX NAME=""></TD>{% /if %}
	    <TD>{{car.reportingMarks}}</TD>
	    <TD class="cartype">{{car.carType}}</TD>
	    <TD>{{car.currentLocation.location.name}}/{{car.currentLocation.name}}</TD>
	    <TD>{{car.nextStop.location.name}}/{{car.nextStop.name}} {% if car.nextDoor %} #{{car.doorToSpot}} {% /if %}</td>
      </tr>
    {% /for %}
   </TABLE>
  </center>
  <p align="right">
  {% if interactive %}
    <INPUT TYPE=BUTTON value="Go Back" onclick="location.href='?layout={{layout.layoutName | escape_cgi }}'">
    <INPUT TYPE=BUTTON value="Train Finished">
  {% /if %}
  </p>
</body>
</HTML>
	
