<!-- Example switchlist template for generating waybills
     in the Tony Thompson style.

  This file is an HTML template for the SwitchList program,
  http://www.vasonabranch.com/railroad/switchlist.html
  
  To use, create the directory ~/Library/Application Support/SwitchList/Waybill
  and copy this file into it. 

  Robert Bowdidge, April 9, 2012.
  -->
<html>
<head>
<title>Waybill</title>
<style>
body { font-family: Arial, Helvetica, sans-serif; 
       font-size:10; }
div.waybill {
  width: 400px;
  height: 360px;
  page-break-after: always;
}

tr {valign=top;}
td { font-size: 10; valign=top;}
table { border-collapse: collapse; 
        width: 100%;
      }
span.typed {
  font-family: Courier;
  font-size: 14px;
}
tr.lineAbove {
  border-top:solid 1px;
  height: 40px;
  vertical-align:top;
}
tr.shortLineAbove {
  border-top:solid 1px;
}
td.lineRight {
  vertical-align: top;
  border-right:solid 1px;
}
div.rightItem {
  width: 80%;
  float: left;
}
div.rightEntry {
  width: 20%;
  float: left;
}
span.roman {
  font-family: "Times New Roman", Times, serif;
   font-size:18;
}
</style>
<script type="text/javascript">

var initialsToRailroadArray = {}
initialsToRailroadArray["ATSF"] = "Santa Fe Railway";
initialsToRailroadArray["L&N"] = "Louisville and Nashville Railway Co.";
initialsToRailroadArray["NWP"] = "Northwestern Pacific Railroad";
initialsToRailroadArray["NP"] = "Northern Pacific";
initialsToRailroadArray["NYC"] = "New York Central";
initialsToRailroadArray["PENN"] = "Pennsylvania Railroad<br>New York, NY"
initialsToRailroadArray["PFE"] = "Pacific Fruit Express, Inc.";
initialsToRailroadArray["P&LE"] = "Pittsburgh and Lake Erie";
initialsToRailroadArray["SAL"] = "Seaboard Air Line";
initialsToRailroadArray["SHPX"] = "Shippers Tank Car Corp.";
initialsToRailroadArray["SP"] = "Southern Pacific Railroad";
initialsToRailroadArray["SP&S"] = "Seattle, Portland, and Spokane Railroad";
initialToRailroadArray["UTLX"] = "Union Tank Car Line, Inc.<br>Pittsburgh PA";
initialsToRailroadArray["WP"] = "Western Pacific Company<br>San Francisco, CA";

/**
 * Run through all the 'route' spans and replace the source station name
 * with a likely route from the source station to this layout.
 */
function OnLoad() {
  var routes = document.getElementsByClassName("route");
  for (var i=0;i<routes.length;i++) {
    var route = routes[i];
    var source = route.innerHTML;
    var newRoute = "";
    if (source == "East Coast") {
      newRoute = "NYC-CBQ-UP-SP";
    } else if (source == "San Jose Yard") {
      newRoute = "SJ";
    } else if (source == "West Coast") {
      newRoute = "SAC-OAK-SJ";
    } else if (source == "Santa Cruz") {
      newRoute = "SC";
    } else if (source == "Oakland") {
      newRoute = "OAK-SJ";
    } else if (source == "Midwest") {
      newRoute = "MILW-UP-SP";
    }
    route.innerHTML = newRoute;
  }    
  var railroads = document.getElementsByClassName("railroadName");
  for (var i=0;i<railroads.length;i++) {
    var initialSpan = railroads[i]
    var initials = initialSpan.firstChild.data;
    var railroadName = initialsToRailroadArray[initials];
    if (!railroadName) {
      railroadName = "Southern Pacific Company";
    }
    initialSpan.innerHTML = railroadName;
  }
}
</script>
</head>
<body onload="OnLoad()">
<div id="1">
<!-- Leave in as a place for JavaScript to send errors. -->
</div>
{% for car in train.allFreightCarsInVisitOrder %}
{% if car.cargo and car.isLoaded %}
<div class="waybill" style="background:Linen;">
<table border="0" style="text-align: center;">
<tr>
  <td>721</td>
  <!-- Put the car's initials in the place where the name of the railroad
       should go, and let JavaScript at load time replace the initials with
       the full name of the railroad. -->
  <td class="railroadName">{{car.initials}}</td>
  <td>721</td>
</tr>
<tr>
  <td></td>
  <td>
    <span class="roman">FREIGHT WAYBILL</span>
  </td>
  <td></td>
</tr>
<tr>
  <td colspan="3">
    <span style="font-size: 10;">
    TO BE USED FOR SINGLE CONSIGNMENTS,
    CARLOAD, and LESS CARLOAD
    </span>
  </td>
</tr>
</table>
<table>
<tr class="lineAbove">
  <td class="lineRight">INITIALS</br>
  <span class="typed">{{car.initials}}</span>
  </td>
  <td>NUMBER<br>
    <span class="typed">{{car.number}}</span>
  </td>
</tr>
<tr class="lineAbove">
  <td class="lineRight">TO STATION     STATE<br>
  <span class="typed">{{car.nextStop.location.name}}</span>
  </td>
  <td>FROM     STATION STATE<br>
    <span class="typed">{{car.cargo.source.location.name}}</span>
  </td>
</tr>
<tr class="lineAbove">
  <td class="lineRight">CONSIGNEE AND ADDRESS<br>
    <span class="typed">{{car.nextStop.name}}</span>
  </td>
  <td>SHIPPER<br>
    <span class="typed">{{car.cargo.source.name}}</span>
  </td>
</tr>
<tr class="lineAbove">
  <td class="lineRight" rowspan="3">
    ROUTE<br>
    <!-- Stuff the cargo's originating town into the ROUTE field,
         and then let some JavaScript convert that to a more realistic
         sequence of railroads or places. -->
    <span class="typed"><span class="route">{{car.cargo.source.location.name}}</span>
  </td>
  <td style="border-top:solid 1px;">
    <div class="rightItem">
      AAR CLASS OF<br>
      CAR ORDERED
    </div>
    <div class="rightEntry">
      <span class="typed" style="text-align: right;">{{car.carTypeRel.carTypeName}}</span>
    </div>
 </td>
</tr>
<tr>
  <td style="border-top:solid 1px;">
    <div class="rightItem">
     LENGTH/CAPY OF<br>
     CAR ORDERED
    </div>
    <div class="rightEntry">
      <span class="typed">{{car.length}}'</span>
    </div>
  </td>
</tr>
<tr>
  <td style="border-top:solid 1px;">
    <div class="rightItem">
      WEIGHED<br>
      <span style="font-size:9px;">E=Estimated S=Shipper's Tested Weights<br>
      R=Railroad Scale	T=Tariff Classification</span>
    </div>
    <div class="rightEntry">
      <span class="typed">R</span>
    </div>
  </td>
</tr>
<tr class="shortLineAbove">
  <td>NO. PKGS.</td>
  <td>
    DESCRIPTION OF ARTICLES
  </td>
</tr>
<tr class="lineAbove">
  <td valign="top">
    <span class="typed">1 car</span>
  </td>
  <td>
    <span class="typed">{{car.cargo.name}}</span>
  </td>
<tr class="lineAbove">
  <td colspan="2">
    <span style="font-size: 10px;">
    ON C.L. TRAFFIC-INSTRUCTIONS<br>
    Regarding Icing, Ventilation, Etc.)<br>
    & EXCEPTIONS
    </div>x
  </td>
</tr>
<tr style="height: 40px;">
</tr>
</table>
</div>
{% else %}
<div class="waybill" style="background: #fff380;">
<center>
Southern Pacific Company
<br>
<span style="font-size:20pt; font-weight:bold;">EMPTY CAR BILL</span>
</center>
<table>
<tr class="lineAbove">
  <td class="lineRight">CAR INITIAL<br>
  <span class="typed">{{car.initials}}</span>
  </td>
  <td>CAR NUMBER<br>
    <span class="typed">{{car.number}}</span>
  </td>
</tr>
<tr class="lineAbove">
  <td class="lineRight">
    AAR CLASS OF<br>
    CAR ORDERED<br>
    <span class="typed">{{car.carTypeRel.carTypeName}}</span>
  </td>
  <td>
    LENGTH/CAPY OF<br>
    CAR ORDERED<br>
    <span class="typed">{{car.length}}</span>
  </td>
</tr>
<tr class="lineAbove">
  <td colspan="2" style="text-align:center">
   <span style="font-size: 14pt;">FOR HOME</span><br>
  </td>
</tr>
{% if car.cargo %}
<tr>
  <td>
    Billed from
  </td>
</tr>
<tr>
  <td>
    To or Via
  </td>
</tr>
<tr class="lineAbove">
  <td colspan="2" style="text-align:center;">
   <span style="font-size: 14pt;">FOR LOADING</span>
  </td>
</tr>
<tr>
  <td style="width: 30%">Billed from</td>
  <td style="width: 70%">
    <SPAN class="typed">{{car.currentLocation.location.name}}</span>
  </td>
</tr>
<tr>
  <td style="width: 30%"> To</td>
  <td style="width: 70%">
    <SPAN class="typed">{{car.nextStop.location.name}}</span>
  </td>
</tr>
<tr>
  <td style="width: 30%">Shipper</td>
  <td style="width: 70%">
    <SPAN class="typed">{{car.nextStop.name}}</span>
    Spot
  </td>
</tr>
{% else %}
<tr>
  <td style="width:30%">Billed from</td>
  <td style="width:70%">
    <SPAN class="typed">{{car.currentLocation.location.name}}</span>
  </td>
</tr>
<tr>
  <td style="width:30%">
    To or Via
  </td>
  <td style="width:70%">
    <SPAN class="typed">{{car.nextStop.location.name}}-SP-{{car.initials}}</span>
  </td>
</tr>
<tr class="lineAbove">
  <td colspan="2" style="text-align:center;">
   <span style="font-size: 14pt;">FOR LOADING</span>
  </td>
</tr>
<tr>
  <td colspan="2">
    Billed from
  </td>
</tr>
<tr>
  <td colspan="2">
    To
  </td>
</tr>
<tr>
  <td colspan="2">
    Shipper
    Spot
  </td>
</tr>
{% /if %}
</table>
<hr>
<center>
INSTRUCTIONS-This form must accompany all empty foreign cars and must
be used in billing private line cars under General Order Ten.
</center>
</div>
{% /if %}
<!-- add white space -->
<br>
{% /for %}
</body>
</html>
