<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>IndustryClass</key>
    <string>cannery</string>
    <key>Synonyms</key>
    <array>
      <string>Di Fiore Canning Corporation</string>
      <string>Cal. Canners and Growers</string>
      <string>Concentrated Tomatoes Co</string>
      <string>Ainsley Cannery</string>
      <string>Pyle Cannery</string>
      <string>Woelffel Cannery</string>
      <string>Libby</string>
      <string>Del Monte</string>
      <string>Del Monte Cannery</string>
      <string>San Jose Canning Co.</string>
      <string>A &amp; W Concentrates</string>
      <string>American Home Foods</string>
      <string>G. Frank Canning Co.</string>
      <string>Tomato</string>
      <string>Tomatoes</string>
      <string>Di Fiore</string>
      <string>Bisceglia</string>
      <string>Contadina</string>
      <string>calpak</string>
      <string>calcan</string>
      <string>California Packing Corporation</string>
      <string>American Home Foods, Inc.</string>
      <string>Bayside Canning Company</string>
      <string>Bisceglia Brothers Cannery</string>
      <string>California Canners and Growers</string>
      <string>California Cooperative Canneries</string>
      <string>California Fruit Canners Association</string>
      <string>California Packing Corporation</string>
    </array>
    <key>Cargo</key>
    <array>
      <dict>
        <key>Name</key>
	<string>cans</string>
	<key>Incoming</key>
	<true/>
	<key>Rate</key>
	<integer>20</integer>
      </dict>
      <dict>
        <key>Name</key>
	<string>canned fruit</string>
	<key>Incoming</key>
	<false/>
	<key>Rate</key>
	<integer>75</integer>
      </dict>
      <dict>
        <key>Name</key>
	<string>boxes</string>
	<key>Era</key>
	<integer>1970</integer>
	<key>Incoming</key>
	<true/>
	<key>Rate</key>
	<integer>5</integer>
      </dict>
      <dict>
        <key>Name</key>
	<string>crates</string>
	<key>Era</key>
	<integer>1930</integer>
	<key>Incoming</key>
	<true/>
	<key>Rate</key>
	<integer>5</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>fresh fruit packer</string>
    <key>Synonyms</key>
    <array>
      <string>United Fruit Co.</string>
      <string>Produce</string>
      <string>Lo Blue Packing Co.</string>
      <string>Sunkist Packing</string>
      <string>Sunkist</string>
      <string>Citrus</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>frozen fruit plant</string>
    <key>Synonyms</key>
    <array>
      <string>Alpine Frozen Foods</string>
      <string>Birdseye</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>fruit</string>
    <key>Synonyms</key>
    <array>
      <string>packing</string>
      <string>Cal Fruit Concentrates</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>auto parts</string>
    <key>Synonyms</key>
    <array>
      <string>American Motors</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>dried fruit packer</string>
    <key>Synonyms</key>
    <array>
      <string>Sunsweet Growers</string>
      <string>Valley View Packing</string>
      <string>Los Gatos Cured Fruit Company</string>
      <string>Sunsweet</string>
      <string>California Prune and Apricot Growers</string>
      <string>Higgins Hyde Packing Co.</string>
      <string>Abinante and Nola Packing</string>
      <string>Mayfair Packing</string>
      <string>California Dried Raisin Cooperative</string>
      <string>Atterbury H.D. Packing House</string>
      <string>cured</string>
      <string>Alden Anderson Fruit Co.</string>
      <string>Castle Brothers Packing</string>
      <string>J. W. Chilton Fruit Packing</string>
      <string>Cupertino Fruit Co.</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>can factory</string>
    <key>Synonyms</key>
    <array>
      <string>American Can Company</string>
      <string>Western Can Co.</string>
      <string>National Can Company</string>
      <string>American Can</string>
      <string>Continental Can Co.</string>
    </array>
    <key>Cargo</key>
    <array>
      <dict>
	<key>Name</key><string>dried fruits</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>23</integer>
      </dict>
      <dict>
	<key>Name</key><string>dried fruits</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>15</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>boxes</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>23</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>fresh fruit</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>15</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>cans</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>7</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>fresh fruit</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>15</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>lumberyard</string>
    <key>Synonyms</key>
    <array>
      <string>lumberyard</string>
      <string>Beaver Lumber</string>
      <string>Conmat Building Materials</string>
      <string>drywall</string>
      <string>U.S. Plywood</string>
      <string>Barr Lumber</string>
      <string>Rolando Lumber Co.</string>
      <string>San Bruno Lumber</string>
      <string>San Jose Mill and Lumber</string>
      <string>South San Francisco Building Materials</string>
      <string>Adams Lumber</string>
      <string>Barr Lumber</string>
      <string>Jefferson Wood and Building Materials</string>
      <string>Weyerhauser</string>
      <string>stucco</string>
      <string>Western Glass</string>
      <string>Borchers Brothers Wood and Coal</string>
      <string>fuel</string>
      <string>wood</string>
      <string>hardwood</string>
      <string>McBeath Hardwood</string>
      <string>Weyerhauser Co.</string>
      <string>Western Plywood</string>
      <string>Higgins Lumber Co.</string>
      <string>board</string>
      <string>chips</string>
      <string>ply</string>
    </array>
    <key>Cargo</key>
    <array>
      <dict>
        <key>Name</key>
	<string>lumber</string>
	<key>Incoming</key>
	<true/>
	<key>Rate</key>
	<integer>100</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>lumber camp</string>
    <key>Synonyms</key>
    <array>
      <string>logging area</string>
    </array>
    <key>Cargo</key>
    <array>
      <dict>
        <key>Name</key>
	<string>logs</string>
	<key>Incoming</key>
	<true/>
	<key>Rate</key>
	<integer>100</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>lumber mill</string>
    <key>Synonyms</key>
    <array>
      <string>Santa Clara Mill and Lumber</string>
      <string>Boise Cascade</string>
      <string>sawmill</string>
      <string>Weyerhauser Canada</string>
      <string>Imperial Lumber Co.</string>
      <string>Southwest Lumber Mills</string>
      <string>Aberdeen Plywood</string>
      <string>American Forest Products</string>
      <string>carpentry</string>
    </array>
    <key>Cargo</key>
    <array>
      <dict>
        <key>Name</key>
	<string>lumber</string>
	<key>Incoming</key>
	<false/>
	<key>Rate</key>
	<integer>100</integer>
      </dict>
      <dict>
        <key>Name</key>
	<string>lumber chips</string>
	<key>Incoming</key>
	<false/>
	<key>Rate</key>
	<integer>5</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>machinery</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>4</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>stock yard</string>
    <key>Synonyms</key>
    <array>
      <string>stock pen</string>
      <string>pens</string>
      <string>stockyards</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>ice dock</string>
    <key>Synonyms</key>
    <array>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>manufacturer</string>
    <key>Synonyms</key>
    <array>
      <string>mufacturing</string>
      <string>industry</string>
      <string>Mfg.</string>
      <string>FMC</string>
      <string>Food Machinery Corp.</string>
      <string>Machine</string>
      <string>Buckley Door</string>
      <string>Acme Door</string>
      <string>Arizona Sash and Door</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>freight forwarder</string>
    <key>Synonyms</key>
    <array>
      <string>Acme Fast Freight</string>
      <string>Star Forwarder</string>
      <string>REA</string>
      <string>LCL</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>trucking line</string>
    <key>Synonyms</key>
    <array>
      <string>Pacific Motor Trucking</string>
      <string>Donofrio Drayage</string>
      <string>Drayage</string>
      <string>L&amp;S Drayage</string>
      <string>King Drayage</string>
      <string>G.A. Hutchinson Dray.</string>
      <string>Trucking</string>
      <string>Western Transportation</string>
      <string>Triangle Trucking</string>
      <string>Lynch Van and Storage</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>steel fabricator</string>
    <key>Synonyms</key>
    <array>
      <string>crane</string>
      <string>Circosta Iron and Metal</string>
      <string>Soule Steel</string>
      <string>Bethlehem Steel</string>
      <string>Soule Steel</string>
      <string>Acme Steel Co</string>
      <string>Algoma Steel Works</string>
      <string>Metals</string>
      <string>Reynolds Metal</string>
      <string>U.S. Steel, Strapping Div</string>
      <string>Pacific Metals Co.</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>furnace</string>
    <key>Synonyms</key>
    <array>
      <string>steel</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>tire manufacturer</string>
    <key>Synonyms</key>
    <array>
      <string>Goodyear Tire and Rubber</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>brewery</string>
    <key>Synonyms</key>
    <array>
      <string>Burgermeister Brew.</string>
      <string>Hamm's Brewing</string>
      <string>Arizona Brewing Co.</string>
      <string>Brew</string>
      <string>Beer</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>paper</string>
    <key>Synonyms</key>
    <array>
      <string>Papercraft Specialty</string>
      <string>H.S. Crocker</string>
      <string>Salinas Paper</string>
      <string>Wilson-Rich Paper Co.</string>
      <string>Allied Paper Co.</string>
      <string>Avery-Dennison</string>
      <string>H.S. Crocker</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>pipe</string>
    <key>Synonyms</key>
    <array>
      <string>Allied Supply</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>beer distributor</string>
    <key>Synonyms</key>
    <array>
      <string>Bakersfield Beer Warehouse</string>
      <string>Western Beverage</string>
      <string>8th Ave Beer Warehouse</string>
      <string>Beverage</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>oil depot</string>
    <key>Synonyms</key>
    <array>
      <string>Standard Oil</string>
      <string>Petroleum</string>
      <string>Standard Oil Co. of Cal</string>
      <string>Richfield Oil</string>
      <string>Valvoline</string>
      <string>Rio Grande Oil</string>
      <string>Sinclair Refining</string>
      <string>Doklos Oil</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>oil production</string>
    <key>Synonyms</key>
    <array>
      <string>Oil</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>propane dealer</string>
    <key>Synonyms</key>
    <array>
      <string>Amoco Canada Petroleum</string>
      <string>PARGAS</string>
      <string>CALGAS</string>
      <string>Amerigas Propane</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>meat packer</string>
    <key>Synonyms</key>
    <array>
      <string>Lakeside Farm Industries</string>
      <string>Idaho Meat</string>
      <string>Albertson Inc. Beef Fabricating Div</string>
      <string>Armour &amp; Co</string>
      <string>Denver Meat</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>grocery warehouse</string>
    <key>Synonyms</key>
    <array>
      <string>Best Foods</string>
      <string>Albertson's</string>
      <string>Safeway</string>
      <string>Piggly Wiggly</string>
      <string>M.J.B. Coffee</string>
      <string>Julliard Fancy Foods</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>general warehouse</string>
    <key>Synonyms</key>
    <array>
      <string>General Electric Supply</string>
      <string>NorCal Distributors</string>
      <string>National Electric</string>
      <string>Security Warehouse</string>
      <string>DePue Whse Co</string>
      <string>DePue Warehouse Co</string>
      <string>Haslett Warehouse Co</string>
      <string>Terminal</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>hardware wholesaler</string>
    <key>Synonyms</key>
    <array>
      <string>Graybar Electrical</string>
      <string>State Battery Inc.</string>
      <string>Baker &amp; Hamilton</string>
      <string>Philco Distributors</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>fertilizer dealer</string>
    <key>Synonyms</key>
    <array>
      <string>Conagra Fertilizer</string>
      <string>Sherridan Fertilizer</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>sand and gravel</string>
    <key>Synonyms</key>
    <array>
      <string>San Francisco Gravel</string>
      <string>Kaiser Sand and Gravel</string>
      <string>Rock</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>freight house</string>
    <key>Synonyms</key>
    <array>
      <string>freighthouse</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>coal tipple</string>
    <key>Synonyms</key>
    <array>
      <string>Audobon Fuel Co.</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>produce warehouse</string>
    <key>Synonyms</key>
    <array>
      <string>Ballantine Produce</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>smelter</string>
    <key>Synonyms</key>
    <array>
      <string>Kennecott Copper</string>
      <string>lead smelter</string>
      <string>American Smelting and Refining</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>scrapyard</string>
    <key>Synonyms</key>
    <array>
      <string>tie</string>
      <string>recycling</string>
      <string>scrap metal</string>
      <string>Active Recycling</string>
      <string>pallet</string>
      <string>Rice Recycling Co.</string>
      <string>Torigini Pallet Co.</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>boxes</string>
    <key>Synonyms</key>
    <array>
      <string>Fiberboard</string>
      <string>Cardboard</string>
      <string>Cal Container</string>
      <string>Container Corp.</string>
      <string>Packaging Corp of America</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>bakery</string>
    <key>Synonyms</key>
    <array>
      <string>Rainbow Baking</string>
      <string>Phoenix Bakery</string>
      <string>Renon Bakeries</string>
      <string>Wonder Bakeries</string>
      <string>baker</string>
      <string>bakeries</string>
      <string>baking</string>
      <string>bread</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>cold storage</string>
    <key>Synonyms</key>
    <array>
      <string>Union Cold Storage Co.</string>
      <string>Security Cold Storage and Warehouse</string>
      <string>Americold</string>
      <string>Artic Cold Storage</string>
      <string>Union Cold Storage Co.</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>grain elevator</string>
    <key>Synonyms</key>
    <array>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>mine</string>
    <key>Synonyms</key>
    <array>
      <string>Real Good Mining Co.</string>
      <string>Afterthought Mine</string>
      <string>Mount Galena Mine</string>
      <string>Death Gulch mine</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>grains</string>
    <key>Synonyms</key>
    <array>
      <string>Albers Mill</string>
      <string>Consolidated Milling</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>team track</string>
    <key>Synonyms</key>
    <array>
      <string>Valbrick Team Track</string>
      <string>Alamitos Team Track</string>
      <string>Fourth Street Team Track</string>
      <string>Team</string>
      <string>Team Track</string>
      <string>ramp</string>
      <string>Lick Team Track</string>
      <string>loading</string>
    </array>
  <key>Cargo</key>
  <array>
    <dict>
      <key>Name</key><string>cattle</string>
      <key>Incoming</key><false/>
      <key>Rate</key><integer>5</integer>
    </dict>
    <dict>
      <key>Name</key>
      <string>irrigation pipe</string>
      <key>Incoming</key><false/>
      <key>Rate</key><integer>5</integer>
    </dict>
    <dict>
      <key>Name</key>
      <string>machinery</string>
      <key>Incoming</key><false/>
      <key>Rate</key><integer>5</integer>
    </dict>
    <dict>
      <key>Name</key>
      <string>furniture</string>
      <key>Incoming</key><false/>
      <key>Rate</key><integer>5</integer>
    </dict>
  </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>station</string>
    <key>Synonyms</key>
    <array>
      <string>depot</string>
      <string>passenger station</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>chemical plant</string>
    <key>Synonyms</key>
    <array>
      <string>Yosemite Chemical</string>
      <string>Stauffer Chemical</string>
      <string>Kaolin</string>
      <string>Glidden</string>
      <string>paint</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>chemical warehouse</string>
    <key>Synonyms</key>
    <array>
      <string>Carmona Chemical</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>equipment</string>
    <key>Synonyms</key>
    <array>
      <string>Heil Equipment</string>
      <string>Caterpillar</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>electric generator</string>
    <key>Synonyms</key>
    <array>
      <string>Pacific Gas and Electric</string>
      <string>PG&amp;E</string>
      <string>Electric</string>
    </array>
    <key>Cargo</key>
    <array>
      <dict>
	<key>Name</key>
	<string>machinery</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>2</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>machinery</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>2</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>gravel for new line</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>75</integer>
      </dict>
      <dict>
	<key>Name</key>
	<string>oil</string>
	<key>Incoming</key><false/>
	<key>Rate</key><integer>18</integer>
      </dict>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>paving</string>
    <key>Synonyms</key>
    <array>
      <string>A. J. Raisch Paving</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>feed</string>
    <key>Synonyms</key>
    <array>
      <string>Animal Foods</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>wine distributor</string>
    <key>Synonyms</key>
    <array>
      <string>Almaden Vineyards</string>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>cement and concrete</string>
    <key>Synonyms</key>
    <array>
    </array>
  </dict>
  <dict>
    <key>IndustryClass</key>
    <string>interchange</string>
    <key>Synonyms</key>
    <array>
      <string>Interchange</string>
    </array>
  </dict>
</array>
</plist>
